body {
    font-family: 'Merriweather', serif;
    background-color: grey;    
    width: 1140px
    margin: 0 auto;
}

h1 {
    color: #d31d1d;
}

a {
    color: cornflowerblue
}

div {
    padding-top: 20px;
    width: 1140px;
    margin: 0 auto
}